body {
    width: 90%;
    margin: auto;
    margin-top: 0px;
    box-sizing: border-box;
}
.title{
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
    margin: 0;
    padding: 0;
    font-weight: bolder;
}

#firstdiv{
    width:50% ;
    display: inline;
    padding-top: 16px;
    vertical-align: middle;
}
#lastdiv{
    float: right;
    display: inline;
}

#firstdiv>img{
    display: inline;
    float: left;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 16px;  
    
}

body nav div p{
    display: inline;
    margin-top: 16px;
}

nav {
    width: 100%;
    height: 80px;
}

#heading{
    font-size: x-large;
    font-family: 'Amiri', serif;
    font-family: 'Dancing Script', cursive;
}

#choco-pizza{
    width: 100%;
}

#checkboxes{
    width: 100%;
    margin: auto;
    margin-top: 60px;
    background-image: url("img/list-bg.png");
    height: 150px;
    padding: 60px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);


}

#right-div{
    width: 40%;
    float: right;
}

#left-div{
    width: 40%;
    float: left;
}

input {
    margin-top: 16px;
}

#last-hr {
    margin-top: 16px;
    margin-bottom: 16px;
}

#face-image{
    border-radius: 50%;
    float: left;
    margin-right: 16px;
}

#bottom-p{
    display: inline;
    
}
button{
    display: inline;
    background-color: brown;
    color: white;
    float: right;
    margin-bottom: 50px;
}

#last-section{
    width: 100%;
}

footer {
    width: 50%;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}
#publisherName{
    font-size: 20px;
}
#finalbtn{
    top: -100;
 float: right;
    height: 40px;

}